
/*------ resources ------*/

@font-face {
    font-family: CHALK;
    src: url("../resources/Chalk-Regular.ttf");
}

@font-face {
    font-family: tangosans;
    src: url("../resources/TangoSans.ttf");
}

@font-face {
    font-family: berk;
    src: url("../resources/BerkshireSwash-Regular.ttf");
}

@font-face {
    font-family: magicretro;
    src: url("../resources/Magic Retro.ttf");
}

* {
    margin: 0;
    padding: 0;
}

/*------ header pagina inicial ------*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(3,37,39,0.7),rgba(3,37,39,0.7)),url("../resources/fundo.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 150px;
}

#logo:hover {
    width: 160px;
    transition: 1s;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li a:hover {
    flex: 1;
    text-align: right;
    font-size: 20px;
    transition: 0.8s;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #d5ebed;
    text-decoration: none;
    font-size: 13px;
    font-family: tangosans;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f9b513;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

@keyframes caixa-de-texto {
    0% {
        top: 100%;
    }
    90% {
        top: 54%;
    }
    100% {
        top: 55%;
    }
}

.caixa-de-texto {
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    animation: caixa-de-texto 1s;
}

.caixa-de-texto h1 {
    font-family: magicretro;
    font-size: 60px;
    font-weight: 300;
}

.caixa-de-texto h1:hover {
    font-family: magicretro;
    font-size: 62px;
    transition: 1s;
    font-weight: 300;
}

.caixa-de-texto p {
    font-family: chalk;
    margin: 4px 0 40px;
    font-size: 20px;
}

/*------ poke autentico ------*/
.poke-autentico {
    background-color: #fbf7cf;
    padding-bottom: 10%;
    padding-top: 10%;
}

.img-poke {
    width: 50%;
    display: inline-block;
}

.texto-poke {
    width: 50%;
    float:left;
}

.img-poke img {
    padding: 50px 20px 0px 40px;
    border-radius: 50%;
    width: 600px;
    height: 600px;
}

.texto-poke h1 {
    padding-top: 40%;
    padding-right: 20px;
    font-family: magicretro;
    font-weight: 500;
    font-size: 60px;
    color: #00b2be;
    text-align: right;
}

.texto-poke p {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 20px;
    font-family: tangosans;
    font-size: 20px;
    text-align: right;
    color: #1d1d1d;
}

/*------ experiencia deliciosa ------*/

.experiencia-deliciosa {
    background-color: #fbf7cf
}

.exp-img {
    width: 50%;
    display: inline-block;
}

.texto-exp {
    width: 50%;
    float:right;
}

.exp-img img {
    padding-left: 40px;
    border-radius: 50%;
    width: 600px;
    height: 600px;
}

.texto-exp h1 {
    padding-top: 35%;
    padding-right: 10%;
    font-family: magicretro;
    font-weight: 500;
    font-size: 50px;
    color: #00b2be;
    text-align: left;
}

.texto-exp p {
    padding-right: 30%;
    padding-top: 20px;
    font-family: tangosans;
    font-size: 20px;
    text-align: left;
    color: #1d1d1d;
}

/*------ reservas-cardapio ------*/

.reservas-cardapio {
    background-color: #00b2be;
}

.reservas-cardapio img {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    background-color: #fbf7cf;
}
.texto-img {
    position: relative;
    text-align: center;
    color: #fbf7cf;
}

.reservas-cardapio h1 {
    font-family: magicretro;
    font-size: 70px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reservas-cardapio a {
    font-family: tangosans;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: #f18314;
    color: #fbf7cf;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 30px 60px;
    margin-top: 20px;
}

.reservas-cardapio #botaor {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.reservas-cardapio #botaoc {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.reservas-cardapio a:hover {
    padding: 35px 65px;
    font-size: 22px;
    background-color: #b64a0c;
    transition: 1s;
}



/*------ footer ------*/

footer {
    background-color: #00b2be;
    overflow: hidden;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    grid-template-rows: repeat(1, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
}

.tel {
    padding-left: 30%;
    grid-column: 1/1;
    grid-row: 1/1;
}

.loc {
    grid-column: 3/3;
    grid-row: 1/1;
}

.ho {
    grid-column: 5/5;
    grid-row: 1/1;
}

.logo-footer {
    grid-column: 6/7;
    grid-row: 1/1;
}

.logo-footer img {
    margin-left: 50%;
    margin-top: 20%;
    padding: 40%, 40%;
    width: 100%;
    position: relative;
}

.footer-info h1 {
    font-family: magicretro;
    font-size: 30px;
    font-weight: 500;
    color: #fbf7cf;
}

.tel h1 {
    margin-right: 100px;
}

.ho h1{
    margin-right: 180px;
}

.loc h1 {
    margin-right:180px;
}

.footer-info p, p1{
    font-family: tangosans;
    font-size: 16px;
    color: #d5ebed;
}

.ho p {
    padding-right: 110px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.loc p {
    padding-right: 110px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tel p {
    padding-bottom: 20px;
    padding-top: 20px;
}